

.line-text{
    color: white;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}
.menu-icon{
    width: 25px;
    height: 25px;
}

/*
.tri2_ps{
    display: block;
    background: white;
    color: black;
    border: 3px solid black;
    font-size: 15px;
    padding: 5px 0;
    border: 2px solid #CCCCCC;
}
.tri_3{
    border: 2px solid black;
}
/*D margin-top: 8px; 
    margin-right: 120px;
    padding-bottom: 2px;
    padding-right: 20px;

/*cmargin-right: 80px;
    margin-left: 280px;
    margin-top: 7px;   
    padding-left: 10px;
    padding-right: 2px;

.topo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #271600;
    
}


.tri_2a{ 
    display: inline-block;
    background: white;
    border: 3px solid black;
    margin-left: 15%;
    padding: 8px 0;   
}
/*.adm_b{
    font-size: 12px;
    padding-left: 0px;
    color: #CCCCCC;
    display: flex;
    column-gap: 30px;
    margin-top: 5px; 
}
.adm_c{
    color: white;
    display: flex;
    margin-left: 600px;
    margin-top: 2px;   
}
.tri_1a{
    color: #848383;
    font-size: 12px;
    padding: 4px 0;
}    

.tri_2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #F5F5F5;
    width: auto;
    height: auto;
 }
 .sett2{
    font-size: 15px;
    color: #CCCCCC;
    padding-left: 5px;
    padding-top: 25px;
    display: flex;
}
.tri_1{
    display: flex;
    column-gap: 15PX;
    padding: 10px 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid white;
}
.settingdash{
    padding: 0 0 30px 0;
    width: 18px;
    padding: 8px 0;
}

.adm_d{
    font-size: 12px;
    color: white;
    margin-top: 5px; 
    margin-right: 200px;
    padding-bottom: 2px;
}*/
