
.prin{
    display: flex;
    background: #F5F5F5;
    flex-direction: column; 
    min-height: 100vh;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    background: #271700;
    padding: 10px 0;
}

.inicio{
    display: flex;
    justify-content: space-between;
}

.adm_a{
    font-size: 12px;
    color: white; 
}

.adm_b{
    font-size: 12px;
    color: #CCCCCC; 
}

.print__column{
    display: flex;
    column-gap: 20px;
}

.adm_c{ 
    font-size:12px ;
    color: white;  
}

.adm_d{
    font-size: 10px;
    color: white;
    
}

.settindash{
    display: flex;
    background: #323232;
}

.imgsett{
    width: 30px;
    padding-right: 5px;
    padding-top: 10px;
    padding-left:90px;
    padding-bottom: 5px;
}

.sett1{
    font-size: 30px;
    color: white;
    padding-left: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
}

.titulo{
    background-color: #cccccc;
    color: grey;
    padding: 7px;
    border-radius: 5px;
    margin: 10px 0;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    font-size: 12px;
}

.tri{
    gap: 30px;
    display: flex;
    background: #F5F5F5;
}

.settincol{
    width: 25%;
    height: 10%;
    background-color: white;
    color: white;
    border-radius: 5PX;
    border: 2px solid #F4F4F4;
}

.line{
    background-color: white;
    padding: 7.2px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    border: 1px solid #F4F4F4;
    border-radius: 4px ;
}

.line-last{
    border-bottom: none;
}

.line--title{
    background: black ;
    height: 30px;
}

.line-icon{
    width: 25px;
    height: 25px;
}

.line-link{
    font-size: 16px;
    color: black;
    font-weight: 300;
}

.line-text{
    color: white;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

.line-link--title{
    color: white;
    border-radius: 5px;
}

.menu{
    height: 100%;
    width: 85%;
    border: 2px solid #F4F4F4;
    border-radius: 5px;
}

.menu-opcoes{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: white;
}

.opcao{
    text-align: center;
    background-color: #F4F4F4;
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 20%;
    height: 140px;
    justify-content: center;
    border: 2px solid #F4F4F4;
    border-radius: 5px;
}

.menu-icon{
    width: 25px;
    height: 25px;
}

.footer{
    padding: 20px 0;
    background-color: #323232;
}

.footer-text{
    text-align: center;
    color: white;
    font-size: 13px;
}
/*
.tri2_ps{
    display: block;
    background: white;
    color: black;
    border: 3px solid black;
    font-size: 15px;
    padding: 5px 0;
    border: 2px solid #CCCCCC;
}
.tri_3{
    border: 2px solid black;
}
/*D margin-top: 8px; 
    margin-right: 120px;
    padding-bottom: 2px;
    padding-right: 20px;

/*cmargin-right: 80px;
    margin-left: 280px;
    margin-top: 7px;   
    padding-left: 10px;
    padding-right: 2px;

.topo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #271600;
    
}


.tri_2a{ 
    display: inline-block;
    background: white;
    border: 3px solid black;
    margin-left: 15%;
    padding: 8px 0;   
}
/*.adm_b{
    font-size: 12px;
    padding-left: 0px;
    color: #CCCCCC;
    display: flex;
    column-gap: 30px;
    margin-top: 5px; 
}
.adm_c{
    color: white;
    display: flex;
    margin-left: 600px;
    margin-top: 2px;   
}
.tri_1a{
    color: #848383;
    font-size: 12px;
    padding: 4px 0;
}    

.tri_2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #F5F5F5;
    width: auto;
    height: auto;
 }
 .sett2{
    font-size: 15px;
    color: #CCCCCC;
    padding-left: 5px;
    padding-top: 25px;
    display: flex;
}
.tri_1{
    display: flex;
    column-gap: 15PX;
    padding: 10px 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid white;
}
.settingdash{
    padding: 0 0 30px 0;
    width: 18px;
    padding: 8px 0;
}

.adm_d{
    font-size: 12px;
    color: white;
    margin-top: 5px; 
    margin-right: 200px;
    padding-bottom: 2px;
}*/
